@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

/*  universal css */
* {
  margin: 0;
  padding: 0;
}

/*  root name cannot be change */
:root {
  --black: #000;
  --red: #c80036;
  --header-color: #eaeaea;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-button {
  color: #000;
}

body {
  font-family: "Nunito Sans";
}

ul {
  list-style: none;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  width: 100%;
}

/* genric css */
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justfiy-content {
  justify-content: space-evenly;
}

.align-item {
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.col {
  width: 100%;
  border-radius: 18px;
}

/* specific css    */

.navLink {
  font-size: 1.9em;
}

.navLink:hover {
  color: var(--red);
  transition: 0.22s;
  text-decoration: underline;
}

.logo {
  width: 20%;
}

.logo h1 {
  font-size: 2.6em;
}

.navBar {
  width: 60%;
}

header {
  position: fixed;
  background-color: var(--header-color);
  padding: 12px 0;
  width: 100%;
  top: 0;
}

.navBar ul li button {
  background-color: transparent;
  border: 1px solid var(--black);
  padding: 10px;
  font-weight: 800;
  border-radius: 12px;
}

.navBar ul li button:hover {
  background-color: var(--black);
  color: var(--red);
}
main {
  margin-top: 80px;
}

.hero h2 {
  font-size: 2.4rem;
  font-weight: 200;
}

.hero h1 {
  font-size: 3.8rem;
  font-weight: 900;
}

.hero {
  text-align: left;
  background-color: #fff5e1;
  border-radius: 18px;
  padding: 10px;
}

.hero p {
  line-height: 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

.hero button {
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background-color: #5a639c;
    color: #fff;
  }
  box-shadow: 5px 5px 15px #5a639c;
}

.hero-img {
  width: 50%;
  text-align: center;
  background-color: #5a639c;
  border-radius: 18px;
}

.space {
  margin-top: 20px;
}

.skill-section {
  text-align: center;
  margin-top: 30px;
}

.skill-section h1 {
  font-size: 2.3rem;
  font-weight: 300;
}

.col h2 {
  margin: 10px;
}

.col p {
  margin: 10px;
}

.chip {
  background-color: #102c57;
  padding: 12px;
  border-radius: 12px;
  margin: 10px 10px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}

.card {
  margin: 10px auto;
  width: 300px;
  background-color: #686d76;
  color: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 12px;
}
.card-content p {
  font-size: 1em;
}
.card-content h4 {
  font-size: 1.7em;
}
